@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&family=Monoton&display=swap");
@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  font-family: "Bellota Text", cursive;
  overflow-x: hidden; }

ol, ul {
  list-style-type: none; }

*:focus {
  outline: none; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

a, a:visited, a:hover {
  text-decoration: none; }

.heading {
  text-align: center; }
  .heading-primary {
    font-weight: 400;
    font-family: "Monoton", cursive;
    color: #fff;
    background-color: #fff;
    padding: .2em .4em;
    text-shadow: 0.2rem 0.2rem 0.2rem #888;
    letter-spacing: .1rem;
    opacity: .9;
    border-radius: .7rem; }
  .heading-secondary {
    font-size: 2.5rem;
    color: #888;
    margin-bottom: 2rem;
    text-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
    letter-spacing: .1rem;
    font-weight: 700; }
    @media (min-width: 650px) {
      .heading-secondary {
        font-size: 4.5rem; } }
    @media (min-width: 1350px) {
      .heading-secondary {
        font-size: 5.5rem; } }

.btn {
  border: none;
  cursor: pointer; }
  .btn-turquoise {
    width: 100%;
    padding: .5em;
    color: #fff;
    font-size: .8rem;
    letter-spacing: .1rem;
    border-radius: 2rem;
    background-color: rgba(50, 231, 255, 0.8);
    transition: background-color .5s; }
    .btn-turquoise:hover {
      background-color: #32e7ff; }
    @media (min-width: 650px) {
      .btn-turquoise {
        font-size: 1.2rem; } }
  .btn-key {
    position: absolute;
    right: -.5rem;
    top: -.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #222;
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center; }
    .btn-key.active {
      transform: rotate(405deg); }
    .btn-key div {
      width: 70%;
      height: .1rem;
      background-color: #fff; }
  .btn-send {
    width: 100%;
    border-radius: 2rem;
    color: #fff;
    font-size: 1rem;
    letter-spacing: .1rem;
    background-color: #f08080;
    padding: .7rem 0;
    transition: background-color .5s; }
    .btn-send:hover {
      background-color: #f06060; }

.section-wrapper {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem; }
  @media (min-width: 1450px) {
    .section-wrapper {
      width: 90%; } }

.intro {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  font-size: 1rem; }
  @media (min-width: 650px) {
    .intro {
      font-size: 1.2rem; } }
  @media (min-width: 950px) {
    .intro {
      font-size: 1.3rem; } }
  .intro-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 87.5rem; }
  .intro-rotating-bg {
    position: absolute;
    top: -66rem;
    width: 85rem;
    height: 85rem;
    border-radius: 45%;
    background-color: rgba(50, 231, 255, 0.8);
    animation: rotate 30s infinite; }
    @media (min-width: 650px) {
      .intro-rotating-bg {
        top: -76rem;
        width: 100rem;
        height: 100rem; } }
    @media (min-width: 950px) {
      .intro-rotating-bg {
        top: -105rem;
        width: 130rem;
        height: 130rem; } }
    @media (min-width: 1550px) {
      .intro-rotating-bg {
        top: -150rem;
        width: 180rem;
        height: 180rem; } }
    .intro-rotating-bg::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(136, 136, 136, 0.1);
      border-radius: 41%; }
  .intro-nav {
    position: relative;
    top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around; }
    .intro-nav-link {
      width: .6rem;
      color: #fff;
      font-weight: 700;
      word-break: break-all;
      transition: width .5s;
      text-align: center;
      font-size: 1em; }
      .intro-nav-link:hover {
        width: 5.5rem;
        background-color: rgba(255, 255, 255, 0.2);
        transition: width 1.5s; }
        @media (min-width: 650px) {
          .intro-nav-link:hover {
            width: 7rem; } }
        @media (min-width: 950px) {
          .intro-nav-link:hover {
            width: 8rem; } }
  .intro-heading {
    position: absolute;
    top: 16rem;
    font-size: 1.5rem; }
    @media (min-width: 650px) {
      .intro-heading {
        top: 19rem;
        font-size: 2.4rem; } }
    @media (min-width: 950px) {
      .intro-heading {
        top: 20rem;
        font-size: 3rem; } }
    @media (min-width: 1550px) {
      .intro-heading {
        top: 23rem;
        font-size: 4rem; } }
  .intro-logo {
    position: absolute;
    bottom: 8rem; }
    .intro-logo i {
      font-size: 6rem;
      color: rgba(50, 231, 255, 0.8); }
      @media (min-width: 950px) {
        .intro-logo i {
          font-size: 8rem; } }
      @media (min-width: 1550px) {
        .intro-logo i {
          font-size: 10rem; } }

.customers {
  position: relative; }
  .customers-testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .customers-testimonials .customer-card-wrapper {
      perspective: 100rem;
      margin: 2rem 1rem; }
      @media (min-width: 650px) {
        .customers-testimonials .customer-card-wrapper {
          margin: 2.39rem; } }
      @media (min-width: 1350px) {
        .customers-testimonials .customer-card-wrapper:nth-child(3n-1) {
          transform: translateY(3rem); }
        .customers-testimonials .customer-card-wrapper:nth-child(3n) {
          transform: translateY(6rem); } }
      .customers-testimonials .customer-card-wrapper .customer {
        width: 17rem;
        height: 17rem;
        position: relative;
        transform-style: preserve-3d;
        transition: transform .5s linear;
        font-size: 1rem; }
        .customers-testimonials .customer-card-wrapper .customer.rotate {
          transform: rotateY(180deg); }
        @media (min-width: 650px) {
          .customers-testimonials .customer-card-wrapper .customer {
            width: 22rem;
            height: 22rem;
            font-size: 1.5rem; } }
        .customers-testimonials .customer-card-wrapper .customer-profile, .customers-testimonials .customer-card-wrapper .customer-review {
          width: 100%;
          height: 100%;
          background-color: rgba(136, 136, 136, 0.1);
          box-shadow: 0.5rem 0.5rem 1rem rgba(136, 136, 136, 0.2), -0.5rem -0.5rem 1rem rgba(136, 136, 136, 0.2);
          padding: 1.5rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          backface-visibility: hidden;
          transform: rotateY(0);
          font-size: inherit; }
          .customers-testimonials .customer-card-wrapper .customer-profile .customer-img img, .customers-testimonials .customer-card-wrapper .customer-review .customer-img img {
            width: 7rem;
            height: 7rem;
            border-radius: 50%;
            object-fit: cover; }
          .customers-testimonials .customer-card-wrapper .customer-profile .customer-name, .customers-testimonials .customer-card-wrapper .customer-review .customer-name {
            font-size: 1em; }
          .customers-testimonials .customer-card-wrapper .customer-profile .customer-role, .customers-testimonials .customer-card-wrapper .customer-review .customer-role {
            font-size: .8em;
            letter-spacing: .05rem; }
        .customers-testimonials .customer-card-wrapper .customer-review {
          transform: rotateY(180deg);
          position: absolute;
          top: 0;
          left: 0;
          font-size: inherit; }
          .customers-testimonials .customer-card-wrapper .customer-review .customer-quote {
            color: #f08e0f;
            font-size: 1.5em; }
          .customers-testimonials .customer-card-wrapper .customer-review .customer-quote:nth-child(2) {
            margin-left: .8rem;
            position: absolute;
            margin-top: .3rem; }
          .customers-testimonials .customer-card-wrapper .customer-review .customer-para {
            font-size: .8em;
            text-align: justify; }
          .customers-testimonials .customer-card-wrapper .customer-review .customer-stars {
            color: #f08e0f; }

.team {
  position: relative; }
  @media (min-width: 1350px) {
    .team {
      margin-top: 4rem; } }
  .team-members {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .team-members .team-member {
      position: relative;
      width: 17rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 2rem 1rem;
      padding: 1rem;
      background-color: #fffeee;
      box-shadow: 0.5rem 0.5rem 1rem rgba(136, 136, 136, 0.2), -0.5rem -0.5rem 1rem rgba(136, 136, 136, 0.2);
      opacity: .7;
      transition: opacity .3s; }
      .team-members .team-member:hover {
        opacity: 1; }
      @media (min-width: 650px) {
        .team-members .team-member {
          width: 22rem;
          font-size: 1.2rem;
          margin: 2.39rem; } }
      @media (min-width: 1350px) {
        .team-members .team-member:nth-child(3n+2) {
          transform: translateY(3rem); }
        .team-members .team-member:nth-child(3n+1) {
          transform: translateY(6rem); } }
      .team-members .team-member-img {
        width: 100%; }
      .team-members .team-member-name {
        font-size: 1em;
        margin-top: 1em;
        color: #796717; }
        .team-members .team-member-name span {
          font-size: .8em; }
      .team-members .team-member-skills {
        font-size: .8em;
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 1em;
        margin-bottom: 1em;
        color: #505050; }
      .team-members .team-member-projects {
        font-size: .8em;
        letter-spacing: .07em;
        color: #fff;
        padding: .3em .8em;
        background-color: #fab34a;
        border-radius: 2rem; }
      .team-members .team-member-aboutMe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.2em;
        background-color: #FE4545;
        transition: transform 1s;
        transform: scale(0);
        transform-origin: top right;
        border-radius: 15em 0 15em 15em;
        transition: transform .5s, border-radius .7s;
        opacity: .9; }
        .team-members .team-member-aboutMe.active {
          transform: scale(1);
          border-radius: 0; }
        .team-members .team-member-aboutMe h4 {
          font-size: 1.8em;
          color: #fff;
          margin-bottom: 1em; }
      .team-members .team-member-story {
        color: #eee;
        font-size: .9em;
        text-align: justify;
        display: flow-root; }
        .team-members .team-member-story span {
          float: left;
          font-size: 2.5em;
          margin-top: -.5rem;
          shape-outside: polygon(0 0, 84% 0, 84% 80%, 0 80%);
          margin-right: .2em;
          font-weight: bold; }

.contact {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem; }
  @media (min-width: 1350px) {
    .contact {
      margin-top: 4rem; } }
  .contact-form-wrapper {
    background-color: transparent;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1500px; }
    @media (min-width: 650px) {
      .contact-form-wrapper {
        background-color: #e5e9ff;
        padding: 2rem 5rem; } }
    @media (min-width: 1350px) {
      .contact-form-wrapper {
        background-color: #e5e9ff;
        padding: 0 5rem; } }
  .contact-img {
    display: none; }
    @media (min-width: 1350px) {
      .contact-img {
        width: 35rem;
        display: block;
        padding: 2rem;
        background-color: rgba(50, 231, 255, 0.8);
        transform: rotateY(30deg);
        box-shadow: -1rem 1rem 2rem #888;
        transition: box-shadow .5s, transform .5s;
        border-radius: .5rem; } }
    .contact-img:hover {
      transform: translateY(-1rem) rotateY(30deg);
      box-shadow: -2rem 2rem 4rem #888; }
  .contact-form {
    width: 20rem;
    padding: 1.5rem;
    box-shadow: 0.5rem 0.5rem 1rem #888;
    background-color: #fff;
    font-size: 1rem;
    transition: box-shadow .5s, transform .5s;
    border-radius: .5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contact-form:hover {
      transform: translateY(-1rem);
      box-shadow: 2rem 2rem 4rem #888; }
    @media (min-width: 650px) {
      .contact-form {
        width: 26rem;
        font-size: 1.3rem;
        box-shadow: 1rem 1rem 2rem #888; } }
    @media (min-width: 921px) {
      .contact-form {
        width: 30rem;
        font-size: 1.5rem; } }
    @media (min-width: 1350px) {
      .contact-form {
        padding: 3rem;
        transform: rotateY(-30deg);
        height: min-content; }
        .contact-form:hover {
          transform: translateY(-1rem) rotateY(-30deg); } }
    .contact-form .form-name,
    .contact-form .form-email,
    .contact-form .form-textArea {
      font-size: .6em;
      letter-spacing: .05rem;
      font-family: "Bellota Text", cursive;
      width: 100%;
      padding: .5em;
      border: none;
      border-radius: 1rem;
      margin-bottom: 1rem;
      box-shadow: inset 0.05rem 0.05rem 0.1rem #ddd, inset -0.05rem -0.05rem 0.1rem #ddd; }
    .contact-form .form-textArea {
      border-radius: .8rem;
      min-height: 5rem;
      max-height: 15rem;
      resize: vertical; }
    .contact-form .form-successText {
      display: none;
      position: absolute;
      font-size: .7rem;
      text-align: center;
      bottom: 3%;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      color: #22bb33; }
    .contact-form .form-warningText {
      display: none;
      position: absolute;
      font-size: .7rem;
      text-align: center;
      bottom: 3%;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      color: #bb2124; }

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem; }
  .footer-desc {
    font-size: .8rem;
    letter-spacing: .1rem;
    color: #505050; }

.scroll-up-btn {
  width: 2rem;
  height: 2rem;
  background-color: rgba(50, 231, 255, 0.8);
  padding: .5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: .5rem;
  bottom: .5rem; }
  @media (min-width: 1350px) {
    .scroll-up-btn {
      width: 3rem;
      height: 3rem;
      right: 1rem;
      bottom: 1rem; } }
  .scroll-up-btn i {
    font-size: .8rem;
    color: #fff; }
    @media (min-width: 1350px) {
      .scroll-up-btn i {
        font-size: 1rem; } }
