@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&family=Monoton&display=swap");

// ----------
// * FONTS *
// ----------
$bellota: 'Bellota Text', cursive;
$monoton: 'Monoton', cursive;

// ----------
// * COLORS *
// ----------
$c-white: #fff;
$c-white-dark:#fffeee;
$c-black: #000;
$c-black-light:#222;

$c-gray : #888;
$c-gray-light:#eee;
$c-gray-dark:#505050;

$c-turquois: rgba(#32E7FF, 0.8);
$c-turquois-hover: #32e7ff;
$c-mustard: #f08e0f;
$c-mustard-light:#fab34a;
$c-olive: #796717;
$c-cherry: #FE4545;
$c-lightCoral: #f08080;

// ----------
// * RESETS *
// ----------
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video  {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: $bellota;
    scroll-behavior: smooth;
}

ol, ul {
	list-style: none;
}

*,
*::before,
*::after {
    outline: none;
    text-decoration: none;
    
}
