@mixin formMessage($color){
    display: none;
    position: absolute;
    font-size: .7rem;
    text-align: center;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color: $color;
}