@import "base";
@import "animations";


.intro {
    position: relative;
    overflow-x: hidden;

    &-wrapper {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-rotating-bg {
        position: absolute;
        top: -65rem;
        width: 84rem;
        height: 84rem;
        border-radius: 45%;
        background-color: $c-turquois;
        animation: rotate 30s linear infinite;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($c-gray, 0.1);
            border-radius: 41%;
        }
    }

    &-nav {
        position: relative;
        top: 2rem;
        width: 100%;
        display: flex;
        justify-content: space-around;

        &-link {
            width: .6rem;
            color: $c-white;
            font-weight: 700;
            word-break: break-all;
            transition: width 1.5s;
            text-align: center;

            &:hover {
                width: 5.5rem;
                background-color: rgba($c-white, .2);
            }
        }
    }

    &-heading {
        position: absolute;
        top: 16rem;
        font-weight: 400;
        font-family: $monoton;
        color: $c-white;
        text-align: center;
        background-color: $c-white;
        padding: .5rem .6rem;
        text-shadow: 0.2rem 0.2rem 0.2rem $c-gray;
        letter-spacing: .1rem;
        opacity: .9;
        border-radius: .7rem;
    }

    &-logo {
        position: absolute;
        bottom: 5rem;

        i {
            font-size: 4rem;
            color: $c-turquois;
        }
    }
}

.customers {
    position: relative;

    &-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    &-heading {
        font-size: 2.5rem;
        color: $c-gray;
        margin-bottom: 2rem;
        text-shadow: .3rem .3rem .3rem rgba($c-black, 0.1);
    }

    &-testimonials {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .customer {
            width: 17rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 2rem 1rem;
            padding: 1rem 1rem 2rem 1rem;
            background-color: rgba($c-gray, 0.1);
            box-shadow: .5rem .5rem 1rem rgba($c-gray, .2), -.5rem -.5rem 1rem rgba($c-gray, .2);

            &-quote {
                color: $c-mustard;
                font-size: 1.8rem;
            }

            &-review {
                font-size: .9rem;
                text-align: justify;
                text-indent: 1rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            &-stars {
                color: $c-mustard;
            }

            &-img {
                margin-top: .8rem;
                margin-bottom: .8rem;

                img {
                    width: 4.5rem;
                    height: 4.5rem;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            &-name {
                font-size: 1rem;
            }
        }
    }
}

.team {
    position: relative;

    &-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-heading {
        font-size: 2.5rem;
        color: $c-gray;
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-shadow: .3rem .3rem .3rem rgba($c-black, 0.1);
    }

    &-members {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .member {
            position: relative;
            width: 17rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 2rem 1rem;
            padding: .5rem;
            background-color: $c-white-dark;
            box-shadow: .5rem .5rem 1rem rgba($c-gray, .2), -.5rem -.5rem 1rem rgba($c-gray, .2);
            opacity: .7;
            transition: opacity .3s;

            &:hover {
                opacity: 1;
            }

            &-img {
                width: 100%;
            }

            &-name {
                font-size: 1rem;
                margin-top: 1rem;
                color: $c-olive;

                span {
                    font-size: .8rem;
                }
            }

            &-skills {
                font-size: .7rem;
                display: flex;
                width: 100%;
                justify-content: space-between;
                margin-top: .5rem;
                margin-bottom: .5rem;
                color: $c-gray-dark;

            }

            &-projects {
                font-size: .7rem;
                letter-spacing: .07rem;
                color: $c-white;
                padding: .3rem .8rem;
                background-color: $c-mustard-light;
                border-radius: 2rem;
            }

            &-aboutMe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 1.2rem;
                background-color: $c-cherry;
                transition: transform 1s;
                transform: scale(0);
                transform-origin: top right;
                border-radius: 15rem 0 15rem 15rem;
                transition: transform .5s, border-radius .7s;
                opacity: .9;

                &.active {
                    transform: scale(1);
                    border-radius: 0;
                }

                h4 {
                    font-size: 1.8rem;
                    color: $c-white;
                    margin-bottom: 1rem;
                }
            }

            &-story {
                text-indent: 1rem;
                color: $c-gray-light;
                font-size: .9rem;
                text-align: justify;
            }

            &-btn {
                position: absolute;
                right: -.5rem;
                top: -.5rem;
                border: none;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                background-color: $c-black-light;
                transition: transform .5s;

                &.active {
                  transform: rotate(400deg);
                }

                div {
                    width: 70%;
                    height: .05rem;
                    background-color: $c-white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
        }
    }
}