.heading {
    text-align: center;

    &-primary {
        font-weight: 400;
        font-family: $monoton;
        color: $c-white;
        background-color: $c-white;
        padding: .2em .4em;
        text-shadow: 0.2rem 0.2rem 0.2rem $c-gray;
        letter-spacing: .1rem;
        opacity: .9;
        border-radius: .7rem;
    }

    &-secondary {
        font-size: 2.5rem;
        color: $c-gray;
        margin-bottom: 2rem;
        text-shadow: .3rem .3rem .3rem rgba($c-black, 0.1);
        letter-spacing: .1rem;
        font-weight: 700;

        @media (min-width:650px) {
            font-size: 4.5rem;
        }

        @media (min-width:1350px) {
            font-size: 5.5rem;
        }
    }
}

.section-wrapper {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    @media (min-width:1450px) {
        width: 90%;
    }
}