.team {
    position: relative;

    @media (min-width:1350px) {
        margin-top: 4rem;
    }

    &-members {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        
    }
}