// ----------
// * FONTS *
// ----------
$bellota: 'Bellota Text', cursive;
$monoton: 'Monoton', cursive;

// ----------
// * COLORS *
// ----------
$c-white: #fff;
$c-white-dark:#fffeee;
$c-black: #000;
$c-black-light:#222;

$c-gray : #888;
$c-gray-light:#eee;
$c-gray-dark:#505050;

$c-turquois: rgba(#32E7FF, 0.8);
$c-turquois-hover: #32e7ff;

$c-mustard: #f08e0f;
$c-mustard-light:#fab34a;

$c-olive: #796717;
$c-cherry: #FE4545;
$c-lightCoral:#f08080;
$c-warning: #bb2124;
$c-success:#22bb33;